#stage
{
  width: 600px;
  height: 200px;
  border: 1px solid black;
}

#vip
{
  width: 400px;
  height: 200px;
  border: 1px dashed black;
}

#ga
{
  width: 750px;
  height: 500px;
  border: 1px dashed red;
}