#stage {
  width: 600px;
  height: 200px;
  border: 1px solid black; }

#vip {
  width: 600px;
  height: 200px;
  border: 1px dashed black; }

#ga {
  width: 960px;
  height: 500px;
  border: 1px dashed red; }

.seat {
  font-size: 8px;
  float: left;
  width: 58px;
  height: 18px;
  border: 1px solid blue;
  background-color: #d8d8d8; }

.available {
  background-color: white; }
