.row
  .small-12.columns
    %h1 Reserve Concert Tickets
.row#adminPanel
  .small-3.columns
  .small-3.columns
    %select#seatSection
      %option Select Section
      %option{value: 'ga'} General Admission
      %option{value: 'vip'} V.I.P.
  .small-1.columns
    %input#quantity{type: 'text', placeholder: '#'}
  .small-2.columns
    %input#seatCost{type: 'text', placeholder: '$ per Seat'}
  .small-3.columns
    %input#createSeats.button{type: 'button', value: 'Create Seats'}

.row
  .small-12.columns
    %input#username{type: 'text', placeholder: 'enter name:'}
.row
  .small-12.columns
    #stage
    #vip
    #ga